[submodule "gps"]
	path = gps
	url = ../gps.git
[submodule "Diagramm"]
	path = Diagramm
	url = ../Diagramm.git
[submodule "GML-Toolbox"]
	path = GML-Toolbox
	url = ../gml-toolbox-opensource.git
[submodule "gmltoolbox-sampleplugin"]
	path = gmltoolbox-sampleplugin
	url = ../gmltoolbox-sampleplugin.git
