[submodule "Diagramm"]
	path = Diagramm
	url = ../GMLToolbox-tsdiagram.git
[submodule "gps"]
	path = gps
	url = ../GMLToolbox-gps.git
[submodule "GML-Toolbox"]
	path = GML-Toolbox
	url = ../GMLToolbox-src.git
